.main{
    background-color: rgba(202, 199, 199, 0.315);
    padding: 7px  15px 25px 15px;
    border-radius: 5px;
};

.blue{
    background-color: blue;
    color: white;
};
.yellow{
    background-color: yellow;
    color: black;
};
.green{
    background-color: green;
    color: white;
};
.red{
    background-color: red;
    color: white;
};

.ul{
    list-style: none;
    background-color: purple;
}